* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}
#navbar {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-bottom: 0px;
  margin-top: -10px;
  background-color: white;
  padding-top: 5px;
}

#navbar a {
  margin-left: 10px;
  margin-top: -4px;
  text-decoration: none;
  color: #464646;
  padding: 0 15px 10px 15px;
  transition: 0.5s ease;
}

#navbar .active {
  background-color: #9c3353;
}

#navbar > #logAccnt {
  margin-top: 10px;
  margin-left: 160px;
}

#navbar > a:hover {
  padding: 0 15px 10px 15px;
  background-color: rgba(3, 155, 229, 0.05);
}

#navbar > a > h4 {
  font-weight: 500;
}

#navbar > #lend {
  background-color: #9c3353;
  padding: 0 15px 10px 15px;
  color: #ffc1d3;
}

#navbar > img {
  width: 7%;
  height: 5%;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 30px;
}

#fundr {
  background-color: #9c3353;
  margin-left: 220px;
  border: 0;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 400;
  padding: 7px 35px 9px 35px;
}

#fundr > a {
  text-decoration: none;
  color: white;
}
#fundr:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}

#topSec {
  display: flex;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #9c3353;
  color: white;
}

#topSec > div:nth-child(1) {
  padding-top: 30px;
}

#topSec > div:nth-child(2) > h1 {
  font-weight: 500;
}

#topSec > div:nth-child(2) {
  padding-left: 60px;
}
#topSec > div:nth-child(2) > div {
  display: flex;
  border-bottom: 1px solid white;
  width: 620px;
  margin-top: -30px;
}

#topSec > div:nth-child(2) > div > img {
  width: 15%;
  height: 120px;
}
#topSec > div:nth-child(2) > div > h1 {
  margin-left: 20px;
  padding-top: 10px;
  font-weight: 500;
}

#topSec > div > #ids {
  font-weight: 400;
  width: 97%;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
}

#topSec > div + div > #fundr1 {
  background-color: white;
  font-size: 19px;
  font-weight: 400;
  border-radius: 25px;
  color: #9c3353;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px 35px 12px 35px;
}

#lend {
  padding-bottom: 500px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
  margin-left: 40px;
  margin-top: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9c3353;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
  padding-left: 12px;
  padding-top: 1px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 28px;
  left: 0px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

input:checked + .slider {
  background-color: #9c3353;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9c3353;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#footer {
  box-shadow: 0 -1px 20px 0 rgb(156 51 83 / 20%);
  padding-top: 20px;
  margin-top: 120px;
  display: flex;
}

#footer > div:nth-child(1) {
  padding-left: 30px;
  width: 10%;
}
#footer > div:nth-child(1) > h4,
#footer > div:nth-child(2) > h4,
#footer > div:nth-child(3) > h4 {
  font-weight: 500;
}

#footer > div:nth-child(1) > p {
  font-size: 14px;
  padding-bottom: 8px;
  color: #5d5d5d;
}

#footer > div:nth-child(2) {
  width: 10%;
}

#footer > div:nth-child(2) > p {
  color: #9c3353;
  font-size: 14px;
  padding-bottom: 8px;
}

#footer > div:nth-child(3) {
  width: 17%;
}
#footer > div:nth-child(3) > p {
  line-height: 28px;
  font-size: 14px;
}
#footer > div:nth-child(3) > p + p {
  line-height: 0px;
  font-size: 14px;
  padding-bottom: 20px;
}

#footer > div:nth-child(4) {
  padding-top: 30px;
  width: 20%;
}

#footer > div:nth-child(4) > div {
  display: flex;
  font-size: 14px;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

#footer > div:nth-child(4) > div > a > p {
  color: #9c3353;
}

#footer > div:nth-child(4) > div + div {
  margin-top: 40px;
}
#footer > div:nth-child(4) > div + div > #find {
  font-size: 12px;
  padding-left: 15px;
  padding-top: 5px;
}

#fundr1 {
  background-color: #9c3353;
  margin-left: 20px;
  border: 0;
  font-size: x-large;
  border-radius: 25px;
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 400;
  padding: 7px 35px 9px 35px;
}
#fundr1:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
}

#fundr1 > a {
  color: white;
}

#appDetails {
  display: flex;
  width: 40%;
  height: 40%;
  text-align: center;
  background-color: rgba(3, 155, 229, 0.05);
  margin-bottom: 40px;
}
#appDetails > img {
  width: 50%;
}

#appDetails > div > h4 {
  margin-top: 35px;
  color: #9c3353;
}

#appDetails > div > #gplay1 > img {
  width: 50%;
  margin-bottom: 25px;
}

#appDetails > div > #gplay1 + a > img {
  width: 50%;
}

#footer1 {
  display: flex;
  color: white;
  padding-left: 480px;
  font-size: 13px;
  height: 50px;
  border: 1px solid black;
  background-color: #212121;
}
#footer1 > div {
  margin-right: 30px;
}

#footer1 > div > a {
  color: white;
}
